@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&subset=cyrillic');

body{
	font-family: 'Press Start 2P', cursive;
	background-image: url(../img/spaceship.jpg);
}

.navbar-brand img{
  width: 75px;
}

.navbar-brand{
	font-size: 14px;
}

.nav-link{
  color: black;
	margin: auto;
}

.zazivala{
  margin-top: 3%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.contacts{
	margin-top: 1%;
  text-align: center;
  color: white;
}

.row{
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.wall{
  background-image: url(../img/new_wall.jpg);
	background-size: 100%;
  height: 547px;
}

.wall p{
	margin-top: 2%;
	font-size: 13pt;
	text-align: center;
}

.otst{
	background: rgba(0, 0, 0, 0);
}

.invite{
	background: rgba(0, 0, 0, 0.5);
}

.request{
	text-align: center;
	color: white;
}

.txar{
	height: 235px !important;
}

.block{
	background: rgba(0, 0, 0, 0);
	padding-bottom: 0;
}

.theme{
	text-align: center;
	font-size: 15pt;
	color: white;
}

.textdesc{
	text-align: center;
	font-size: 9pt;
	color: white;
}

.wallofvideo{
	background: rgba(0, 0, 0, 0);
	padding-top: 0;
}

.telegram{
	margin-right: 1%;
}

.vk{
	margin-left: 1%;
}
@media (min-width: 992px) and (max-width: 1497px){
	.wall p{
		margin-top: 6%;
		font-size: 10pt;
	}
}

@media (min-width: 487px) and (max-width: 764px){
	.wall p{
		margin-top: 2%;
		font-size: 14px;
	}
}

@media (min-width: 400px) and (max-width: 486px){
	.wall p{
		margin-top: 4%;
		font-size: 12px;
	}
}

@media (min-width: 293px) and (max-width: 400px){
	.wall p{
		margin-top: 10%;
		font-size: 10px;
	}
}

@media (max-width: 292px){
	.wall p{
		margin-top: 30%;
		font-size: 8px;
	}
}

@media (max-width: 535px){

	.zazivala {
		font-size: 16pt;
	}
}

@media (max-width: 264px) {
	.navbar-brand img{
	  width: 40px;
	}
	.navbar-brand{
		font-size: 12px;
	}
}
